#main {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 600px;
    border: 2px solid green;
    /*margin: 5%;*/
    background-size: cover;
    background-image: url("background.png");
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;
    /*background-position: bottom;*/
    animation: bevegelse 2s linear infinite;
}

@keyframes bevegelse {
    0% { background-position: 600px; }
    100% { background-position: 0; }
}

#poeng {
    position: absolute;
    top: 0;
    left: 570px;
    width: 50px;
    height: 20px;
    color: yellow;
    font-size: 1.2em;
}

#bird {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 255px;
    top: 255px;
    background-image: url("floppy.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 59ms;
}
#b1,#b2 {
    position: absolute;
    background-image: url("pipe.png");
    width: 50px;
    height: 130px;
    left: 600px;
    top: 0;
    animation: sbevegelse 2s linear infinite;
}

#b1 {
    top: 470px;

}
#b2 {
    transform: rotate(180deg);
}

@keyframes sbevegelse {
    0% { left: 650px; }
    100% { left: -250px; }
}